{{#if updateListingForm}}
  <h2>Update</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Listing Title</label>
        {{input value=name id="name" placeholder=listing.name}}
      </div>

      <div class="form-group">
        <label for="timestamp">Date</label>
        {{input value=timestamp id="timestamp" placeholder=listing.timestamp}}
      </div>

      <div class="form-group">
        <label for="money">Money</label>
        {{input value=money id="money" placeholder=listing.money}}
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        {{input value=type id="type" placeholder=listing.type}}
      </div>


      <button {{action 'update' listing}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateListingForm'}}>Update</button>
{{/if}}
